In [10]:
import pandas as pd

In [17]:
df = pd.read_csv('IMDb movies.csv')

In [18]:
#Just checking the data types, some need fixing
df.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [19]:
#Check null fields
df.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [20]:
#I like capital letters
df['Title'] = df['title']
df['Year'] = df['year']
df['Runtime'] = df['duration']
df['Director'] = df['director']
df['Writer'] = df['writer']
df['IMDB_Rating'] = df['avg_vote']
#Remove the columns I no longer need
df = df.drop(labels=['title','year','duration','language','director','writer','avg_vote','imdb_title_id','metascore','original_title','date_published','country','actors','production_company','description','votes','budget','usa_gross_income','worlwide_gross_income','reviews_from_users','reviews_from_critics'], axis = 1)

In [21]:
df.isnull().sum()

genre             0
Title             0
Year              0
Runtime           0
Director         87
Writer         1572
IMDB_Rating       0
dtype: int64

In [22]:
#Find where the genres are split and remove the sub genres
def removeSubGenre(genre):
    myGenre = genre.split(',')
    return myGenre[0]
#Sub genres are the second item in the arrays
def getSubGenre(something):
    myGenres = something.split(',')
    if(len(myGenres) == 1):
        return 'None'
    else:
        myGenres[1] = myGenres[1].replace(' ','')
        return myGenres[1]

#Running the functions
df['Genre'] = df['genre'].apply(removeSubGenre)
df['Sub_Genre'] = df['genre'].apply(getSubGenre)

In [23]:
df.isnull().sum()

genre             0
Title             0
Year              0
Runtime           0
Director         87
Writer         1572
IMDB_Rating       0
Genre             0
Sub_Genre         0
dtype: int64

In [25]:
#For some reason the years read as objects and one sticks out, here's a function to fix that
def getYear(year):
    if(type(year) != type(2)):
        if(len(year) > 4 or len(year)< 4):
            year = year[-4:]
            int(year)
        year = int(year)
    else:
        year = year
    return year

In [26]:
df['Year'] = df['Year'].apply(getYear)

In [27]:
df.isnull().sum()

genre             0
Title             0
Year              0
Runtime           0
Director         87
Writer         1572
IMDB_Rating       0
Genre             0
Sub_Genre         0
dtype: int64

In [28]:
df.to_csv('cleaned_films.csv')