In [25]:
import pandas as pd
df = pd.read_csv('cleaned_films.csv')

In [26]:
df.isnull().sum()

Unnamed: 0        0
genre             0
Title             0
Year              0
Runtime           0
Director         87
Writer         1572
IMDB_Rating       0
Genre             0
Sub_Genre         0
dtype: int64

In [27]:
#Forgot to remove genre, also removing unnamed
df = df.drop(labels=['Unnamed: 0','genre'], axis = 1)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        85855 non-null  object
 1   Year         85855 non-null  int64
 2   Runtime      85855 non-null  int64
 3   Director     85768 non-null  object
 4   Writer       84283 non-null  object
 5   IMDB_Rating  85855 non-null  float64
 6   Genre        85855 non-null  object
 7   Sub_Genre    85855 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 5.2+ MB

In [31]:
df.describe()

               Year       Runtime   IMDB_Rating
count  85855.000000  85855.000000  85855.000000
mean    1993.500891    100.351418      5.898656
std       24.216420     22.553848      1.234987
min     1894.000000     41.000000      1.000000
25%     1979.000000     88.000000      5.200000
50%     2003.000000     96.000000      6.100000
75%     2013.000000    108.000000      6.800000
max     2020.000000    808.000000      9.900000